<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body id="content">
    <div class="nav">
        <div class="logo"></div>
        <ul class="u">
            <li><a href="#hd">ABOUT</a></li>
            <li><a href="#ft">FEATURE</a></li>
            <li><a href="#ch">CONTACT</a></li>
        </ul>
        <div class="btn">
            <a onclick="window.location.href='login'" id="b2">LOGIN</a>
            <button id="b3" onclick="window.location.href='signup'"><span id="s3">GET STARTED</span></button>
        </div>
    </div>
    <div class="fstcontent cs">
        <div class="bg"></div>
        <div class="bg2"></div>
        <p class="t1">
            UNLOCK YOUR POTENTIAL:
        </p>
        <p id="p1">BUILD YOUR <span id="s1">PROFESSIONAL PORTFOLIO</span> WITH EASE!</p><br>
        <button id="b1" onclick="window.location.href='signup'"><span id="s2">GET STARTED</span></button>
    </div>
    <div class="sndcontent cs" id="hd">
        <div class="head" >
            <p>-- ABOUT US --</p>
        </div>
        <div class="section">
            <p class="heading">AT <span class="sp1">PORTFOLIO BUILDER,</span></p>
            <p> we empower you to showcase your journey and achievements with a personalized touch.</p>
        </div>
        <div class="section" id="sec2">
            <p class="heading">WHO <span class="sp1">WE ARE</span></p>
            <p> We're not just a platform; we're your creative partner. <br>
                <span class="sp1">PORTFOLIO BUILDER</span> is designed to make creating and sharing your portfolio an
                effortless and enjoyable experience.
                <br><br>
                This is where your story takes center stage. We provide the canvas, and you bring the narrative. From
                projects to passions, customize every detail to reflect your unique identity.
            </p>
        </div>
        <div class="section">
            <p class="heading">UNLEASH YOUR <span class="sp1">CREATIVITY</span></p>
            <p> Why settle for ordinary when you can stand out? Explore the possibilities, experiment with layouts, and
                let
                your creativity shine through.</p>
        </div>
        <div class="section" id="s4">
            <p class="heading">JOIN THE <span class="sp1">COMMUNITY</span></p>
            <p> Connect with like-minded individuals, share insights, and be inspired by the diverse portfolios within
                our
                vibrant community. <br>
                Ready to Begin?<br>
                Start building your story today. Your portfolio journey begins here.</p>

            <button class="bt1" onclick="window.location.href='signup'"><span class="sp2">GET STARTED</span></button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none" id="svg1"
            onclick="prev()">
            <circle cx="29.5" cy="29.5" r="29" stroke="url(#paint0_linear_199_322)" />
            <rect x="45.1914" y="30.1919" width="32" height="1" rx="0.5" transform="rotate(180 45.1914 30.1919)"
                fill="#D9D9D9" />
            <rect x="45.1914" y="30.1919" width="32" height="1" rx="0.5" transform="rotate(180 45.1914 30.1919)"
                fill="url(#paint1_linear_199_322)" />
            <rect x="21.4844" y="38.1919" width="12" height="1" rx="0.5" transform="rotate(-135 21.4844 38.1919)"
                fill="#D9D9D9" />
            <rect x="21.4844" y="38.1919" width="12" height="1" rx="0.5" transform="rotate(-135 21.4844 38.1919)"
                fill="url(#paint2_linear_199_322)" />
            <rect x="22.1914" y="21.7065" width="12" height="1" rx="0.5" transform="rotate(135 22.1914 21.7065)"
                fill="#D9D9D9" />
            <rect x="22.1914" y="21.7065" width="12" height="1" rx="0.5" transform="rotate(135 22.1914 21.7065)"
                fill="url(#paint3_linear_199_322)" />
            <defs>
                <linearGradient id="paint0_linear_199_322" x1="2.122" y1="7.79885" x2="59.1346" y2="8.14174"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
                <linearGradient id="paint1_linear_199_322" x1="46.3423" y1="30.3241" x2="76.1611" y2="36.0629"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
                <linearGradient id="paint2_linear_199_322" x1="21.916" y1="38.3241" x2="33.4521" y2="39.1566"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
                <linearGradient id="paint3_linear_199_322" x1="22.623" y1="21.8387" x2="34.1591" y2="22.6713"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
            </defs>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none" id="svg2"
            onclick="next()">
            <circle cx="29.5" cy="29.5" r="29" stroke="url(#paint0_linear_199_320)" />
            <rect x="12" y="30" width="32" height="1" rx="0.5" fill="#D9D9D9" />
            <rect x="12" y="30" width="32" height="1" rx="0.5" fill="url(#paint1_linear_199_320)" />
            <rect x="35.707" y="22" width="12" height="1" rx="0.5" transform="rotate(45 35.707 22)" fill="#D9D9D9" />
            <rect x="35.707" y="22" width="12" height="1" rx="0.5" transform="rotate(45 35.707 22)"
                fill="url(#paint2_linear_199_320)" />
            <rect x="35" y="38.4854" width="12" height="1" rx="0.5" transform="rotate(-45 35 38.4854)" fill="#D9D9D9" />
            <rect x="35" y="38.4854" width="12" height="1" rx="0.5" transform="rotate(-45 35 38.4854)"
                fill="url(#paint3_linear_199_320)" />
            <defs>
                <linearGradient id="paint0_linear_199_320" x1="2.122" y1="7.79885" x2="59.1346" y2="8.14174"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
                <linearGradient id="paint1_linear_199_320" x1="13.1509" y1="30.1322" x2="42.9696" y2="35.871"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
                <linearGradient id="paint2_linear_199_320" x1="36.1386" y1="22.1322" x2="47.6747" y2="22.9648"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
                <linearGradient id="paint3_linear_199_320" x1="35.4316" y1="38.6175" x2="46.9677" y2="39.4501"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#91BDFF" />
                    <stop offset="1" stop-color="#FA00FF" />
                </linearGradient>
            </defs>
        </svg>
        <div class="line1"></div>
        <div class="line2"></div>
    </div>
    <div class="trdcontent " id="ft">
        <div class="head2">
            <h1 id="topic">-- FEATURES --</h1>
            <div class="underl" id="progress"></div>
        </div>
        <div class="f1">
            <div class="l"></div>
        </div>
    </div>
    <div class="frthcontent" id="ch">
        <svg xmlns="http://www.w3.org/2000/svg" width="317" height="317" viewBox="0 0 317 317" fill="none" id="c1">
            <g filter="url(#filter0_d_176_86)">
              <circle cx="173.5" cy="143.5" r="118.5" fill="url(#paint0_linear_176_86)"/>
            </g>
            <defs>
              <filter id="filter0_d_176_86" x="0.200001" y="0.200001" width="316.6" height="316.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="-15" dy="15"/>
                <feGaussianBlur stdDeviation="19.9"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.96 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_176_86"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_176_86" result="shape"/>
              </filter>
              <linearGradient id="paint0_linear_176_86" x1="63.524" y1="56.3276" x2="292.541" y2="57.7049" gradientUnits="userSpaceOnUse">
                <stop stop-color="#91BDFF"/>
                <stop offset="1" stop-color="#FA00FF"/>
              </linearGradient>
            </defs>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="162" height="152" viewBox="0 0 162 152" fill="none" id="c3">
          <g filter="url(#filter0_d_176_87)">
            <ellipse cx="96" cy="65.5" rx="41" ry="40.5" fill="url(#paint0_linear_176_87)"/>
          </g>
          <defs>
            <filter id="filter0_d_176_87" x="0.200001" y="0.200001" width="161.6" height="160.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dx="-15" dy="15"/>
              <feGaussianBlur stdDeviation="19.9"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.96 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_176_87"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_176_87" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear_176_87" x1="57.9492" y1="35.7069" x2="137.187" y2="36.1893" gradientUnits="userSpaceOnUse">
              <stop stop-color="#91BDFF"/>
              <stop offset="1" stop-color="#FA00FF"/>
            </linearGradient>
          </defs>
        </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="162" height="161" viewBox="0 0 162 161" fill="none" id="c2">
            <g filter="url(#filter0_d_176_85)">
              <ellipse cx="96" cy="65.5" rx="41" ry="40.5" fill="url(#paint0_linear_176_85)"/>
            </g>
            <defs>
              <filter id="filter0_d_176_85" x="0.200001" y="0.200001" width="161.6" height="160.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="-15" dy="15"/>
                <feGaussianBlur stdDeviation="19.9"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.96 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_176_85"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_176_85" result="shape"/>
              </filter>
              <linearGradient id="paint0_linear_176_85" x1="57.9492" y1="35.7069" x2="137.187" y2="36.1893" gradientUnits="userSpaceOnUse">
                <stop stop-color="#91BDFF"/>
                <stop offset="1" stop-color="#FA00FF"/>
              </linearGradient>
            </defs>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="238" height="230" viewBox="0 0 238 230" fill="none" id="c4">
            <g filter="url(#filter0_d_176_88)">
              <ellipse cx="134" cy="100" rx="79" ry="75" fill="url(#paint0_linear_176_88)"/>
            </g>
            <defs>
              <filter id="filter0_d_176_88" x="0.200001" y="0.200001" width="237.6" height="229.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="-15" dy="15"/>
                <feGaussianBlur stdDeviation="19.9"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.96 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_176_88"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_176_88" result="shape"/>
              </filter>
              <linearGradient id="paint0_linear_176_88" x1="60.6827" y1="44.8276" x2="213.36" y2="45.7948" gradientUnits="userSpaceOnUse">
                <stop stop-color="#91BDFF"/>
                <stop offset="1" stop-color="#FA00FF"/>
              </linearGradient>
            </defs>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="238" height="215" viewBox="0 0 238 215" fill="none" id="c5">
            <g filter="url(#filter0_d_176_84)">
              <ellipse cx="129" cy="112.5" rx="79" ry="78.5" fill="url(#paint0_linear_176_84)"/>
            </g>
            <defs>
              <filter id="filter0_d_176_84" x="0.200001" y="0.200001" width="237.6" height="236.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="-10" dy="6"/>
                <feGaussianBlur stdDeviation="19.9"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.96 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_176_84"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_176_84" result="shape"/>
              </filter>
              <linearGradient id="paint0_linear_176_84" x1="55.6827" y1="54.7529" x2="208.36" y2="55.677" gradientUnits="userSpaceOnUse">
                <stop stop-color="#91BDFF"/>
                <stop offset="1" stop-color="#FA00FF"/>
              </linearGradient>
            </defs>
          </svg>
          <div id="c6"></div>
          <div class="contactus"></div>
    </div>
    <div class="footer">
      <div class="fbg"></div>
    </div>
    <script src="/static/index.js"></script>
</body>

</html>