<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    choose templates
    <form method="post">
        <select name="template" id="template">
            <option value="template1">template1</option>
            <option value="template2">template2</option>
            <option value="template3">template3</option>
        </select>
        <button type="submit">submit</button>
    </form>
</body>
</html>